<component name="ArtifactManager">
  <artifact type="war" name="springmvcresultful:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springmvc.war">
      <element id="artifact" artifact-name="springmvcresultful:war exploded" />
    </root>
  </artifact>
</component>